In [1]:
import pandas as pd
from pymongo import MongoClient
import time
from starting_db import retrieve_datatable

In [12]:
import numpy as np

In [2]:
mc = MongoClient()
db  = mc['raw_restaurants']
biz = db['restaurants']
users = db['users']
rv = db['reviews']
rv_s = db['reviews_scrap']

In [6]:
rv_s.count_documents({}), rv.count_documents({}), users.count_documents({}), biz.count_documents({})

(12834, 25022, 15520, 8631)

In [7]:
df_rv = retrieve_datatable(rv)

In [9]:
df_rv.shape, df_rv.columns

((25022, 8),
 Index(['_id', 'biz_id', 'id', 'rating', 'text', 'time_created', 'url', 'user'], dtype='object'))

In [14]:
df_rv['user_id'] = df_rv.user.map(lambda x: x['id'])

In [30]:
user_summary = df_rv.groupby('user_id')['rating'].count()

In [41]:
sum(user_summary >=5)

708

In [42]:
sd_scr = retrieve_datatable(rv_s)

In [47]:
sd_scr.columns

Index(['_id', 'alias', 'biz_id', 'category', 'date', 'id', 'rating', 'text',
       'user_id'],
      dtype='object')

In [48]:
len(pd.unique(sd_scr.alias))

10222

In [51]:
rest_summary = sd_scr.groupby('alias')['rating'].count()

In [54]:
sum(rest_summary >=5)

166

In [55]:
rest_summary[rest_summary >=5]

alias
85-c-bakery-cafe-tukwila                        7
a-la-mode-pies-west-seattle-seattle-2           5
alchemy-seattle                                 6
aqua-by-el-gaucho-seattle                       5
arashi-ramen-tukwila-5                          5
arthurs-seattle                                 6
asadero-sinaloa-kent                            5
ba-bar-seattle                                  5
bai-tong-thai-restaurant-tukwila                5
bakery-nouveau-seattle                         10
bambu-seattle-2                                 5
bar-del-corso-seattle                           5
barolo-ristorante-seattle                       6
beer-star-seattle-2                             5
beths-cafe-seattle                              6
biscuit-and-bean-seattle-4                      6
biscuit-bitch-seattle                           7
biscuit-bitch-seattle-9                         7
bjs-restaurant-and-brewhouse-tukwila            5
blarney-stone-pub-and-restaurant-seattle        5
blue-c-sushi-tukwila                            5
blue-star-donuts-portland                       5
blueacre-seafood-seattle                        5
bok-a-bok-fried-chicken-seattle                 7
bs-po-boy-seattle                               5
buddha-ruksa-seattle                            8
burien-fish-house-burien                        5
cactus-restaurants-seattle-2                   11
caf%C3%A9-campagne-seattle-3                    5
circa-seattle                                   8
                                               ..
storyville-coffee-company-seattle-9             5
supreme-seattle-2                               6
tacos-chukis-seattle                            7
talaricos-pizzeria-seattle                      8
tamari-bar-seattle                              5
tamarind-tree-seattle                           5
taqueria-la-fondita-2-seattle                   7
tats-delicatessen-seattle                       8
the-5-point-caf%C3%A9-seattle-2                 5
the-bridge-seattle-3                           11
the-carlile-room-seattle                        7
the-cheesecake-factory-seattle                  7
the-cheesecake-factory-tukwila-2                5
the-crumpet-shop-seattle                        6
the-matador-seattle                             7
the-pink-door-seattle-4                         6
the-swinery-seattle                             8
the-walrus-and-the-carpenter-seattle            5
the-westy-seattle-2                             5
tilikum-place-cafe-seattle-3                    9
toulouse-petit-kitchen-and-lounge-seattle       7
tsukushinbo-seattle                             7
umi-sake-house-seattle                          7
un-bien-seattle                                 5
unicorn-seattle                                 5
vons-1000-spirits-seattle-4                     7
voodoo-doughnut-portland                        9
wallys-chowder-house-and-broiler-des-moines     5
windy-city-pie-seattle                          5
zippys-giant-burgers-seattle                    6
Name: rating, Length: 166, dtype: int64