In [36]:
from starting_db import *

In [20]:
zips = open('king_county_zip.txt').read().split('\n')

In [13]:
zips[:10]

['98126',
 '98133',
 '98136',
 '98134',
 '98144',
 '98146',
 '98148',
 '98155',
 '98154',
 '98158']

In [16]:
build_restoraunts(zips)

In [130]:
locs = ['Everett, WA', 'Leavenworth, WA', 'Spocane, WA']

In [131]:
build_restoraunts(locs)

In [3]:
zips2 = open('sno.txt').read().split('\n')
zips2[:2]

['98036', '98037']

In [2]:
build_restoraunts(zips2)

NameError: name 'zips2' is not defined

In [144]:
biz.count()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

8946

In [29]:
build_review_by_API()

get error   Resource could not be found.  for restaurant  4DxKp_A0QWVU3fKn1GB8cA

In [37]:
dr = retrieve_datatable(biz)

In [38]:
dr.shape

(8946, 18)

In [43]:
dr.coordinates[:3]

0    {'latitude': 47.5636486287425, 'longitude': -1...
1    {'latitude': 47.5751165, 'longitude': -122.387...
2    {'latitude': 47.5895547295386, 'longitude': -1...
Name: coordinates, dtype: object

In [44]:
galv = (47.5998327,-122.3345518)

In [22]:
good_biz_url = dr['url'].str.split('?').map(lambda x: x[0])

In [25]:
good_biz_url.to_csv('biz_url.csv')

In [27]:
len(good_biz_url)

8946

In [11]:
users.count_documents({})

16075

In [12]:
du = retrieve_datatable(users)

In [16]:
du['profile_url'][91]

'https://www.yelp.com/user_details?userid=hhDQhr2MNWJqL3MCQG_5JQ'

In [63]:
dr.columns

Index(['_id', 'alias', 'categories', 'coordinates', 'display_phone',
       'distance', 'id', 'image_url', 'is_closed', 'location', 'name', 'phone',
       'price', 'rating', 'rev_API', 'review_count', 'transactions', 'url'],
      dtype='object')

In [143]:
biz.count_documents({'rev_API': { '$exists' : False } })

17

In [113]:
####Надо заполнить rev_API у тех про кого уже выкачала ревью вчера
i = 0
j = 0
for bi in biz.find({'rev_API': { '$exists' : False } }):

    if rv.find_one({'url': {'$regex': bi['alias']}}) is not None :
        j+=1
        biz.update_one({'id':bi['id']},{'$set': {'rev_API': '1'}})

In [103]:
import re

In [112]:
## Надо приделать бизнес айди к тем ревью, что я выкачала вчера
s = row['url']
alias = s.split('?')[0].split('/')[-1]
bi = biz.find_one({'alias':alias})
rv.update_one({'id':row['id']},{'$set' : {'biz_id' : bi['id']}})

{'_id': ObjectId('5bf9bd1e7988471b045bc1e2'),
 'id': 'gO9LUk3LU_tF6Eb75EPhpQ',
 'url': 'https://www.yelp.com/biz/falafel-salam-seattle-9?hrid=gO9LUk3LU_tF6Eb75EPhpQ&adjust_creative=KIqjD5y9rnzq9ev6ruaTHQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=KIqjD5y9rnzq9ev6ruaTHQ',
 'text': 'Falafel Salam is a customer service dream. I came in earlier today (around 1:30 pm) to grab a Postmates order. They beared with me as i messed up ordering...',
 'rating': 5,
 'time_created': '2018-11-08 15:17:20',
 'user': {'id': 'krIvby3nPkonG2ZC1MDEzQ',
  'profile_url': 'https://www.yelp.com/user_details?userid=krIvby3nPkonG2ZC1MDEzQ',
  'image_url': 'https://s3-media2.fl.yelpcdn.com/photo/7IIQ6IJlne7hHpwxoPS2BQ/o.jpg',
  'name': 'Lucas B.'}}

In [116]:
s ='https://www.yelp.com/biz/falafel-salam-seattle-9?hrid=gO9LUk3LU_tF6Eb75EPhpQ&adjust_creative=KIqjD5y9rnzq9ev6ruaTHQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=KIqjD5y9rnzq9ev6ruaTHQ'

In [119]:
s.split('?')[0].split('/')[-1]

'falafel-salam-seattle-9'

In [115]:
biz.find_one({'alias':'falafel-salam-seattle-9'})

{'_id': ObjectId('5bf90d4e7988471b045ba51c'),
 'id': 'bnSXp-06NJNy1JQ0c_1Nag',
 'alias': 'falafel-salam-seattle-9',
 'name': 'Falafel Salam',
 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/GnFlc-H2-5MJlvyP0bHWwQ/o.jpg',
 'is_closed': False,
 'url': 'https://www.yelp.com/biz/falafel-salam-seattle-9?adjust_creative=KIqjD5y9rnzq9ev6ruaTHQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=KIqjD5y9rnzq9ev6ruaTHQ',
 'review_count': 84,
 'categories': [{'alias': 'mediterranean', 'title': 'Mediterranean'}],
 'rating': 4.0,
 'coordinates': {'latitude': 47.5596799135963, 'longitude': -122.386579848826},
 'transactions': [],
 'price': '$$',
 'location': {'address1': '4746 California Ave SW',
  'address2': '',
  'address3': None,
  'city': 'Seattle',
  'zip_code': '98116',
  'country': 'US',
  'state': 'WA',
  'display_address': ['4746 California Ave SW', 'Seattle, WA 98116']},
 'phone': '+12063252335',
 'display_phone': '(206) 325-2335',
 'distance': 1182.1939270664031,
 'rev_API': '1'}

In [34]:
response = get_reviews(API_KEY,'xzLAynrVb3No3ADUhMxlnQ')
data = response.get('reviews')

In [37]:
response.keys()

dict_keys(['reviews', 'total', 'possible_languages'])

In [56]:
du = retrieve_datatable(users)

drev = retrieve_datatable(rv)

In [57]:
du.shape, drev.shape

((6267, 5), (9167, 7))

In [52]:
drev.groupby('rating').count()

         _id    id  text  time_created   url  user
rating
1       1055  1055  1055          1055  1055  1055
2        772   772   772           772   772   772
3       1263  1263  1263          1263  1263  1263
4       2395  2395  2395          2395  2395  2395
5       3682  3682  3682          3682  3682  3682

In [32]:
response = requests.get('https://www.whoishostingthis.com/tools/user-agent/')
soup = BeautifulSoup(response.content, 'html.parser')

In [31]:
from bs4 import BeautifulSoup

Хочу написать скрапилку для ресторанов

In [45]:
url = 'https://www.yelp.com/biz/intermezzo-carmine-seattle-2'

In [57]:
response = requests.get(url)

In [58]:
soup_carmino = BeautifulSoup(response.content, 'html.parser')

In [61]:
revi = soup.select_one('div.main-content-wrap main-content-wrap--full')

In [62]:
len(revi)

TypeError: object of type 'NoneType' has no len()